.mat-radio-button ~ .mat-radio-button{
    padding-right: 16px;
}
mat-grid-tile {
    color : #eaeff3;
    background: blue;
    cursor: pointer;
}
.center{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.green{
    background-color: green;
}