<div>
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Scheme name" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <i class="fa fa-times"></i>
    </button>
  </mat-form-field>
  <button mat-raised-button
          class="add-scheme"
          (click)="addTab()">
    <i class="fa fa-plus"></i>
  </button>
</div>

<mat-tab-group [selectedIndex]="selected.value"
                (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    Contents for {{tab}} tab

    <!--<button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button>-->
  </mat-tab>
</mat-tab-group>